
    html {
        height: 100%;    
    }
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .wrapper {
        min-height: 100%;
        height: auto !important;
    }
    .content {
        padding: 0 0 100px;
    }
    .footer {
        margin: -100px 0 0 0;
        height: 100px;
        background: #808080;
        position: relative;
    }
