.btn{
  font-family: 'Major Mono Display', monospace;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: rgb(148, 7, 7);
  display: flex; 
  margin-left: 25px;
  position: relative; 
  font-size: 10pt;
}
.btn:hover{
  background-color: red;
  color: white;
}