<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/index2.css">

    
    <title>groupie-tracker Index</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
                
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Concert</a>
              </li>
                          
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="text" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">search</button>
            </form>
          </div>
        </div>
      </nav>
      <div style="clear:both"></div>


      <div class="img-containerArtist">
        <img src="static/img/main4.png" alt="worldmap">
      </div>
          <div style="clear:both"></div>

    <div class="content">
        <div class="row text-center" style="padding-top: 50px;">

            <div class="blog-card-artist">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://groupietrackers.herokuapp.com/api/images/kencricklamar.jpeg)"></div>
                </div>
        
        
                <div class="description">
                  <h1>Queen</h1>
                  <h2><strong>Creation date: </strong> 1970 </h2>
                  <h2><strong> First album: </strong>14-12-1973 </h2>
                  <div class="row">
                      <div class="col">
                        <p style="text-align: left;"><strong> Members: </strong><br>
                            Freddie Mercury <br>
                            Brian May <br>
                            John Daecon <br>
                            Roger Meddows-Taylor <br>
                            Mike Grose <br>
                            Barry Mitchell <br>
                            Doug Fogie <br> 
                        </p>
                        <br>
                      </div>
                      <div class="col"> 
                        <p style="text-align: left;"><strong> Conserts: </strong><br>
                            <strong>Playa Del Carmen - MEXICO </strong> <br>
                            05-12-2019<br>
                            06-12-2019<br>
                            07-12-2019<br>
                            08-12-2019<br>
                            09-12-2019<br>
                            <strong>Noumea - NEW CALEDONIA</strong><br>
                            15-11-2019<br>
    
                            <strong>Papeete - FRENCH POLYNESIA</strong><br>
                            16-11-2019<br> 
                        </p>
                      </div>

                  
                  <h4 class="read-more">
                    <a href="#">home page</a>
                  </h4>
                </div>
            </div>

            
      
        
      </div>
    </div>


      
      
        




</body>
</html>